.root {
  margin: 20px;
}
.paper {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form {
  
}
.fileInput {
  width: 97%;
  margin: 10px 0;
}
.buttonSubmit {
  margin-top: 10px;
}
